<ion-view view-title="Change Password" style='background: url("img/img2.jpg");background-repeat: no-repeat;background-size: cover;'>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Register</h1>

  </ion-header-bar>
  <ion-content>
    <form ng-submit="doChange(registerData,mForm)" name="mForm">
        <br/>
        <label class="item item-input list-inset">
          <input type="password" required placeholder="Old Password" ng-model="registerData.oldPassword">
        </label>

       <label class="item item-input list-inset">
          <input type="password" name="pass" ng-pattern="/^.{8,}$/" ng-change="check()"  placeholder="New Password" ng-model="registerData.password" >
        </label>
        <div ng-show="mForm.pass.$error.pattern" class="assertive">Invalid password(Atleast 8 characters) .</div>
        <label class="item item-input list-inset">
          <input type="password" name="pass1" ng-pattern="/^.{8,}$/" ng-change="check()"  placeholder="Confirm Password" ng-model="registerData.confirmPassword">
        </label>
         <div ng-show="mForm.pass1.$error.pattern" class="assertive">Invalid password(Atleast 8 characters)  .</div>
         <div ng-show="match" class="assertive">Passsword mismatch.</div>
        <label><br>
        <button class="button button-block button-calm" type="submit" style="margin-left:20%;width:200px;">Change Password</button>
        </label>
      
    </form>

  </ion-content>
</ion-view>