<ion-view view-title="Funds Transfer">
      <ion-content>
     
<div style="background-image: url('img/bg.png');">
  <img src="img\strip.png" id="homebg" alt="DEMO">
    <div class="alarm-wrap decheightHEAD">
      <div class="alarm" >
        <div class="top clearfix">
        </div>
        <div class="slide-date">
          <div class="date">
            <div class="dd">E-Check</div>
            <div class="mm-yy">Instant Money Transfer</div>
          </div>
        </div>
        <div class="day">ELECTRONIC FUNDS TRANSFER</div>
       
        <div class="alarm-content mycss">
        
          <div class="calendar-time">
   
      


<form class="list" name="fundForm" ng-submit="addFund(tran,fundForm)">
          
<div class="list list-inset decheight">
        <label class="item item-input infofund">
        <select ng-model='tran.description'  ng-options='x.name for x in benif'  ng-change='populateAcc(tran.description)' class="dropdown" id="fundwgtmsr">
          <option value="" style="display:none">Select Beneficiary </option>

        </select>
          </label>
</div>

<div class="list list-inset decheight">
          <label class="item item-input infofund">
            <input type="text" ng-pattern="/^[0-9]{6,15}$/" placeholder="Account Id"  ng-model="tran.id" name="id"  readonly="readonly">
          </label>
          <div ng-show="fundForm.id.$error.pattern" class="assertive">Only numbers allowed (6-15 digits).</div>
</div>








<div class="list list-inset decheight">
  <label class="item item-input infofund">
            <input type="text" placeholder="Date" ng-model="tran.effectiveDate" name="effectiveDate" required readonly="readonly">
  </label>

</div> 
        

        <div class="list list-inset decheight">
        <label class="item item-input infofund">
            <input type="text" ng-pattern="/^[0-9]*$/" placeholder="Amount" ng-model="tran.amount" name="amount">
          </label>
          <div ng-show="fundForm.amount.$error.pattern" class="assertive">Enter valid amount</div>
      </div> 
       <input type="submit" class="button button-block fundbutton" value="Transfer">
      </form>
</div>
</div>
</div>
</div>
</div><img src="img\strip.png" id="homebg" alt="DEMO">
     </ion-content>
</ion-view>