<ion-view>

  <ion-content class="black-background">
  <br><br>
  <div class="margin-horizontal">
  <form ng-submit="dogetUser()">
      <div class="list" ng-show="registerData.showuser">
        <label class="item item-input ">
          <input type="text" ng-model="registerData.username" placeholder="username" >
        </label>
        
          <button class="button button-block button-balanced add-margin add-border-radius" type="submit">Submit</button>
      </div>
    </form>
    <form ng-submit="doCheck()">
      <div class="list" ng-show="registerData.showquestion">
        <label class="item item-input ">
          <input type="text" ng-model="registerData.securityQuestion" disabled="true" >
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Answer" ng-model="registerData.answer">
        </label>
          <button class="button button-block button-balanced add-margin add-border-radius" type="submit">Submit</button>
      </div>
    </form>
    <form ng-submit="doChange()" name="mmForm">
      <div class="list" ng-show="registerData.showchanger">
        <label class="item item-input">
          <input type="password" name="pass5" ng-pattern="/^.{8,}$/" required placeholder="New Password" ng-model="registerData.password">
        </label>
        <div ng-show="mmForm.pass5.$error.pattern" class="assertive">Invalid password(Atleast 8 characters) .</div>
        <label class="item item-input">
          <input type="password" name="pass6" ng-pattern="/^.{8,}$/" required placeholder="Confirm Password" ng-model="registerData.confirmPassword">
        </label>
         <div ng-show="mmForm.pass6.$error.pattern" class="assertive">Invalid password(Atleast 8 characters) .</div>
        <button class="button button-block button-balanced add-margin add-border-radius" type="submit">Change Password</button>
      </div>
    </form>
    
    </div>
  </ion-content>
</ion-view>
