<ion-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Change Password</h1>
  </ion-header-bar>
  <ion-content>
  
  <br>


  <div class="margin-horizontal">
  <form ng-submit="dogetUser()">

      <div class="list list-inset" ng-show="registerData.showuser">
        <label class="item item-input ">
          <input type="text" ng-model="registerData.username" placeholder="Enter Username" >
        </label>
        
          <button class="button button-block button-calm" type="submit">Retrieve the User details</button>
      </div>
    </form>
    <form ng-submit="doCheck()">
      <div class="list list-inset" ng-show="registerData.showquestion">
        <label class="item item-input ">
          <input type="text" ng-model="registerData.securityQuestion" disabled="true" >
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Answer the security question" ng-model="registerData.answer">
        </label>
          <button class="button button-block button-calm" type="submit">Verify the Answer</button>
      </div>
    </form>
    <form name="mForm" ng-submit="doChange(registerData,mForm)">
      <div class="list list-inset" ng-show="registerData.showchanger">
        <label class="item item-input">
          <input type="password" name="pass" ng-pattern="/^.{8,}$/" ng-change="check()"  placeholder="Password" ng-model="registerData.password" >
        </label>
        <div ng-show="mForm.pass.$error.pattern" class="assertive">Invalid password(Atleast 8 characters) .</div>
        <label class="item item-input">
          <input type="password" name="pass1" ng-pattern="/^.{8,}$/" ng-change="check()"  placeholder="Confirm Password" ng-model="registerData.confirmPassword">
        </label>
         <div ng-show="mForm.pass1.$error.pattern" class="assertive">Invalid password(Atleast 8 characters)  .</div>
         <div ng-show="match" class="assertive">Passsword mismatch.</div>
        <button class="button button-block button-calm" type="submit">Change Password</button>
      </div>
    </form>
    
    </div>
  </ion-content>
</ion-view>
