<ion-view >
<ion-nav-title >
    <i class="icon ion-clock"></i> Stop Watch
    </ion-nav-title>
  <ion-content>
    <label class="item ">
       <div class="row assertive-background"  >
            <div class="col col-3 "></div>
       		<div class="col col-30 col-offset-3">{{time.minutes}}</div>
       		<div class="col col-2 ">:</div>
       		<div class="col col-30 ">{{time.seconds}}</div>
       		<div class="col col-2 ">:</div>
       		<div class="col col-30 ">{{time.milliseconds}}</div>
       		<div class="col col-3"></div>
       </div>  
        </label>
         <label class="item ">
      <div >
        <button ng-click="startclock()" class="button button-balanced button-block">Start</button>
      </div>
      
    </label>
    <label class="item">
    	<div >
        <button ng-click="stopclock()" class="button button-assertive button-block">stop</button>
      </div>
      </label>
  </ion-content>
</ion-view>
