.btnlogin
{
	margin-top: 5px;
	margin-bottom: 5px;
}


.itembgrnd
{
	background: gray;
	color: white;
}
.blackbg
{
background-color: white;
}

.itemval
{
	color: white;
}


.textdown
{
	
	margin-top: 25px;
}

.pokeheight
{
	color:white;
}